* {
    box-sizing: border-box;
    /*Esta propiedad lo que hace es que los tamaños definidos
    de las cajas se hagan tomando todos sus elementos en cuenta 
    (paddig, margin, border*/
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    /*Estas reglas no aplicaban a h1, pq las reglas para el margen del
    h1 estaban definidas en el borwser, 
    y éstas ganaban por especificidad. Test*/
}

div li {
    list-style: none;
}

#box {
    background-color: rgb(135, 135, 236);
    padding: 20px;
    border: 15px solid rgb(102, 184, 170);
    margin-top: 10px;
    width: 300px;
    height: 90px;
    overflow: auto;

}

a:link, a:visited {
    text-decoration: none;
    background-color: rgb(102, 184, 170);
    border: 1px solid rgb(23, 87, 84);
    color: rgb(28, 82, 95);
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 1px;
}

a:hover, a:active {
    background-color: rgb(140, 238, 255);
}

div li:nth-child(3) {
    font-size: 24px;
}

section div:nth-child(odd) {
    background-color: rgb(156, 198, 218);
}

section div:nth-child(4):hover {
    background-color: rgb(245, 230, 146);
    cursor: pointer;
}